In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [4]:
sns.set_theme(style="whitegrid")
plt.rcParams['figure.figsize']=(6,4)

In [5]:
df=pd.read_csv(r'C:\Users\KEERTHAN\OneDrive\Documents\GitHub\Keerthan-Projects\Python Project 3\Student_analyser\data\student_por_cleaned1.csv')

In [12]:
os.makedirs(r'C:\Users\KEERTHAN\OneDrive\Documents\GitHub\Keerthan-Projects\Python Project 3\Student_analyser\reports\figures',exist_ok=True)

In [13]:
df.shape

(202, 36)

In [14]:
df.dtypes

school               int64
sex                 object
age                float64
address              int64
famsize              int64
pstatus              int64
medu                 int64
fedu                 int64
mjob                 int64
fjob                 int64
reason               int64
guardian             int64
traveltime         float64
studytime          float64
failures           float64
schoolsup            int64
famsup               int64
paid                 int64
activities           int64
nursery              int64
higher               int64
internet             int64
romantic             int64
famrel             float64
freetime           float64
goout              float64
dalc               float64
walc               float64
health             float64
absences           float64
g1                 float64
g2                 float64
g3                 float64
alcohol_total        int64
grade_variation    float64
performance         object
dtype: object

In [15]:
df.head()

,school,sex,age,address,famsize,pstatus,medu,fedu,mjob,fjob,...,dalc,walc,health,absences,g1,g2,g3,alcohol_total,grade_variation,performance
0,0,female,0.338598,1,0,1,1,1,0,2,...,0.0,-0.765759,-0.277493,-0.100980,-1.258255,-0.792123,-1.013882,2,1.154701,average
1,0,female,-1.461318,1,0,1,4,2,1,3,...,0.0,-0.765759,1.073195,-0.829482,0.743064,0.441878,0.227355,2,0.000000,average
2,0,female,-0.561360,1,0,1,3,3,2,2,...,0.0,0.615342,1.073195,-0.829482,-0.457727,0.030545,-0.186391,3,1.154701,average
3,0,male,-0.561360,1,1,1,4,3,3,2,...,0.0,0.615342,1.073195,1.356023,-0.057464,-0.380789,-0.186391,3,0.577350,average
4,0,female,0.338598,1,0,0,4,4,2,4,...,0.0,-0.765759,-1.628180,-0.100980,-0.857991,0.030545,-0.186391,2,1.732051,average

In [7]:
numerical_cols = df.select_dtypes(include=['int64','float64']).columns
df[numerical_cols].describe()

,school,age,address,famsize,pstatus,medu,fedu,mjob,fjob,reason,...,goout,dalc,walc,health,absences,g1,g2,g3,alcohol_total,grade_variation
count,202.000000,2.020000e+02,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,...,2.020000e+02,202.0,2.020000e+02,2.020000e+02,2.020000e+02,2.020000e+02,2.020000e+02,2.020000e+02,202.000000,202.000000
mean,0.301980,-1.336665e-15,0.747525,0.242574,0.861386,2.702970,2.539604,2.064356,2.193069,1.217822,...,1.055261e-16,0.0,-9.673230e-17,1.802738e-16,6.595384e-17,1.187169e-16,2.088538e-16,-2.923954e-16,2.554455,0.711383
std,0.460257,1.002484e+00,0.435512,0.429705,0.346402,1.111178,1.088573,1.189011,0.885118,1.234689,...,1.002484e+00,0.0,1.002484e+00,1.002484e+00,1.002484e+00,1.002484e+00,1.002484e+00,1.002484e+00,0.725859,0.546850
min,0.000000,-1.461318e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.831323e+00,0.0,-7.657594e-01,-1.628180e+00,-8.294821e-01,-2.459046e+00,-2.437457e+00,-2.255120e+00,2.000000,0.000000
25%,0.000000,-5.613600e-01,0.250000,0.000000,1.000000,2.000000,2.000000,2.000000,2.000000,0.000000,...,-9.018575e-01,0.0,-7.657594e-01,-9.528363e-01,-8.294821e-01,-8.579911e-01,-7.921227e-01,-6.001365e-01,2.000000,0.577350
50%,0.000000,3.385981e-01,1.000000,0.000000,1.000000,3.000000,3.000000,2.000000,2.000000,1.000000,...,2.760788e-02,0.0,-7.657594e-01,3.978509e-01,-1.009804e-01,-5.746361e-02,3.054458e-02,2.048247e-02,2.000000,0.577350
75%,1.000000,3.385981e-01,1.000000,0.000000,1.000000,4.000000,3.000000,3.000000,3.000000,3.000000,...,9.570732e-01,0.0,6.153424e-01,1.073195e+00,6.275213e-01,7.430639e-01,8.532119e-01,6.411014e-01,3.000000,1.000000
max,1.000000,3.038472e+00,1.000000,1.000000,1.000000,4.000000,4.000000,4.000000,4.000000,3.000000,...,1.886539e+00,0.0,1.996444e+00,1.073195e+00,2.813026e+00,2.344119e+00,2.087213e+00,1.882339e+00,4.000000,2.516611

In [8]:
categorical_cols = df.select_dtypes(include='object').columns
for col in categorical_cols:
    print(f"{col} value counts:\n{df[col].value_counts()}\n")

sex value counts:
sex
female    136
male       66
Name: count, dtype: int64

performance value counts:
performance
average      136
excellent     43
poor          23
Name: count, dtype: int64

In [18]:
df.isnull().sum()

school             0
sex                0
age                0
address            0
famsize            0
pstatus            0
medu               0
fedu               0
mjob               0
fjob               0
reason             0
guardian           0
traveltime         0
studytime          0
failures           0
schoolsup          0
famsup             0
paid               0
activities         0
nursery            0
higher             0
internet           0
romantic           0
famrel             0
freetime           0
goout              0
dalc               0
walc               0
health             0
absences           0
g1                 0
g2                 0
g3                 0
alcohol_total      0
grade_variation    0
performance        0
dtype: int64

In [19]:
for col in numerical_cols:
    plt.figure()
    sns.histplot(df[col], kde=True, bins=20)
    plt.title(f'Distribution of {col}')
    plt.savefig(f'C:/Users/KEERTHAN/OneDrive/Documents/GitHub/Keerthan-Projects/Python Project 3/Student_analyser/reports/figures{col}_hist.png')
    plt.close()

In [20]:
for col in categorical_cols:
    plt.figure()
    sns.countplot(x=col, data=df)
    plt.title(f'Counts of {col}')
    plt.xticks(rotation=45)
    plt.savefig(f'C:/Users/KEERTHAN/OneDrive/Documents/GitHub/Keerthan-Projects/Python Project 3/Student_analyser/reports/figures{col}_count.png')
    plt.close()

In [9]:
plt.figure(figsize=(12,8))
sns.heatmap(df[numerical_cols].corr(), annot=True, cmap='coolwarm')
plt.title('Correlation Matrix of Numerical Features')
plt.savefig('C:/Users/KEERTHAN/OneDrive/Documents/GitHub/Keerthan-Projects/Python Project 3/Student_analyser/reports/figures/correlation_matrix.png')
plt.close()

In [11]:
for cat_col in categorical_cols:
    for num_col in numerical_cols:
        plt.figure()
        sns.boxplot(x=cat_col, y=num_col, data=df)
        plt.title(f'{num_col} vs {cat_col}')
        plt.xticks(rotation=45)
        plt.savefig(f'C:/Users/KEERTHAN/OneDrive/Documents/GitHub/Keerthan-Projects/Python Project 3/Student_analyser/reports/figures/{num_col}_vs_{cat_col}_box.png')
        plt.close()

In [12]:
for col in numerical_cols:
    plt.figure()
    sns.boxplot(x=df[col])
    plt.title(f'Boxplot of {col}')
    plt.savefig(f'C:/Users/KEERTHAN/OneDrive/Documents/GitHub/Keerthan-Projects/Python Project 3/Student_analyser/reports/figures/{col}_boxplot.png')
    plt.close()

In [13]:
df[numerical_cols].describe().to_csv('C:/Users/KEERTHAN/OneDrive/Documents/GitHub/Keerthan-Projects/Python Project 3/Student_analyser/reports/numerical_summary.csv')
df[categorical_cols].describe().to_csv('C:/Users/KEERTHAN/OneDrive/Documents/GitHub/Keerthan-Projects/Python Project 3/Student_analyser/reports/categorical_summary.csv')

print("EDA completed! Plots are saved in 'C:/Users/KEERTHAN/OneDrive/Documents/GitHub/Keerthan-Projects/Python Project 3/Student_analyser/reports'")
print("EDA completed! summaries in 'C:/Users/KEERTHAN/OneDrive/Documents/GitHub/Keerthan-Projects/Python Project 3/Student_analyser/reports'")

EDA completed! Plots are saved in 'C:/Users/KEERTHAN/OneDrive/Documents/GitHub/Keerthan-Projects/Python Project 3/Student_analyser/reports'
EDA completed! summaries in 'C:/Users/KEERTHAN/OneDrive/Documents/GitHub/Keerthan-Projects/Python Project 3/Student_analyser/reports'